<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="tr" xsi:type="Trace"/>
      <target name="textfile" xsi:type="File" fileName="${basedir}/logfile.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="tr,textfile" />
    </rules>
  </nlog>