<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="F:\DarkLight\TestGUI\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener" 
                name="ServiceModelTraceListener"
                traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="F:\DarkLight\TestGUI\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener"
                name="ServiceModelMessageLoggingListener" 
                traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <client>
            <endpoint
                address="http://10.38.5.152:7777/StrategyManagementService"
                binding="basicHttpBinding"
                bindingConfiguration=""
                contract="DarkLight.Common.Services.iStrategyManagementService"
                name="StrategyManagementClient"
                kind=""
                endpointConfiguration="">
                <identity>
                    <certificateReference
                        storeName="My"
                        storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>