<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="F:\DarkLight\DarkLightServer\App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
            <add initializeData="F:\DarkLight\DarkLightServer\App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
        </diagnostics>
        <services>
            <service name="DarkLight.Common.Services.StrategyManagementService">
                <endpoint
                    address="http://10.38.5.152:7777/StrategyManagementService"
                    binding="basicHttpBinding"
                    bindingConfiguration=""
                    contract="DarkLight.Common.Services.iStrategyManagementService"/>
            </service>
        </services>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
