<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="DarkLight">
            <section name="StrategyManager" type="DarkLight.Common.Config.StrategyManagerConfigSection, DarkLight.Common" allowLocation="true" allowDefinition="Everywhere"/>
            <section name="ProductManager" type="DarkLight.Common.Config.ProductManagerConfigSection, DarkLight.Common" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <DarkLight>
        <StrategyManager>
            <Strategies>
                <ClearStrategies/>
                <AddStrategy name="DarkLight_NQ" binding="basicBinding" productGroup="NQ"/>
                <AddStrategy name="DarkLight_ES" binding="basicBinding" productGroup="ES"/>
                <AddStrategy name="DarkLight_YM" binding="basicBinding" productGroup="YM"/>
            </Strategies>
        </StrategyManager>
        <ProductManager>
            <ProductGroups>
                <ProductGroup name="NQ">
                    <Products>
                        <Product ticker ="NQM1"/>
                        <Product ticker ="NQU1"/>
                        <Product ticker ="NQZ1"/>
                        <Product ticker ="NQH2"/>
                        <Product ticker ="NQM2"/>
                    </Products>
                </ProductGroup>
                <ProductGroup name="ES">
                    <Products>
                        <Product ticker ="ESM1"/>
                        <Product ticker ="ESU1"/>
                        <Product ticker ="ESZ1"/>
                        <Product ticker ="ESH2"/>
                        <Product ticker ="ESM2"/>
                    </Products>
                </ProductGroup>
                <ProductGroup name="YM" >
                    <Products>
                        <Product ticker ="YMM1"/>
                        <Product ticker ="YMU1"/>
                        <Product ticker ="YMZ1"/>
                        <Product ticker ="YMH2"/>
                        <Product ticker ="YMM2"/>
                    </Products>
                </ProductGroup>
            </ProductGroups>
        </ProductManager>
    </DarkLight>
    <unity>
        <!--DarkLight Interfaces-->
        <alias alias="iManageable" type="DarkLight.Common.Interfaces.iManageable, DarkLight.Common" />
        <alias alias="iMarketDataProvider" type="DarkLight.Common.Interfaces.iMarketDataProvider, DarkLight.Common" />
        <alias alias="iOrderRoutingProvider" type="DarkLight.Common.Interfaces.iOrderRoutingProvider, DarkLight.Common" />
        <alias alias="iPositionProvider" type="DarkLight.Common.Interfaces.iPositionProvider, DarkLight.Common" />
        <!--DarkLight Implementations-->
        <alias alias="TestStrategy" type="DarkLight.Common.Strategies.TestStrategy, DarkLight.Common" />
        <alias alias="StrategyInfo" type="DarkLight.Common.Services.StrategyInfo, DarkLight.Common" />
        <!-- BM Client Injection Types-->
        <alias alias="BM_MarketDataClient" type="BM.Clients.BM_MarketDataClient, BM.Clients" />
        <alias alias="BM_OrderRoutingClient" type="BM.Clients.BM_OrderRoutingClient, BM.Clients" />
        <alias alias="BM_PositionClient" type="BM.Clients.BM_PositionClient, BM.Clients" />
        <alias alias="BM_StrategyInfo" type="BM.Clients.BM_StrategyInfo, BM.Clients" />
        <!--DarkLight Bindings-->
        <container name="basicBinding">
            <register type="iMarketDataProvider" mapTo="BM_MarketDataClient">
                <constructor>
                    <param name="binding" value="default" />
                </constructor>
            </register>
            <register type="iOrderRoutingProvider" mapTo="BM_OrderRoutingClient">
                <constructor>
                        <param name="binding" value="default" />
                </constructor>
            </register>
            <register type="iPositionProvider" mapTo="BM_PositionClient">
                <constructor>
                    <param name="binding" value="default" />
                </constructor>
            </register>
            <register type="iManageable" mapTo="TestStrategy">
                <constructor>
                    <param name="info">
                        <dependency name="StrategyInfo" />
                    </param>
                    <param name="marketDataProvider">
                        <dependency/>
                    </param>
                    <param name="orderRoutingProvider">
                        <dependency/>
                    </param>
                    <param name="positionProvider">
                        <dependency/>
                    </param>
                    
                </constructor>
            </register>
        </container>
    </unity>
</configuration>